<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>JPMC Collaborate</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Google Fonts -->
 	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet"> 

	<!-- Custom & Default Styles -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/carousel.css">
	<link rel="stylesheet" href="style.css">
	
	
	<link rel="stylesheet" href="css/images-grid.css">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body  ng-app='myApp' >
	
	<div id="wrapper">
        
		<header class="header site-header">
			<div class="container">
				<nav class="navbar navbar-default yamm">
				    <div class="container-fluid">
				        <div class="navbar-header">
				            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				                <span class="sr-only">Toggle navigation</span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				            </button>
							<a class="navbar-brand" href="index.html"><img src="images/collab.png" alt="Linda" width="60px" height="50px">JPMC Collaborate</a>
				        </div>
				        <div  ng-controller='MainController' id="navbar" class="navbar-collapse collapse">
				            <ul class="nav navbar-nav navbar-right">
				                <!-- <li><a href="page-about.html">What is SEO?</a></li>
				                <li><a href="case-studies.html">Case Studies</a></li>
				                <li><a href="blog.html">Blog</a></li>
				                <li><a href="page-contact.html">Contact</a></li> -->
                                <li class="lastlink hidden-xs hidden-sm"><a class="btn btn-primary" ng-click="openModal()"><i class="glyphicon glyphicon-search"></i> POST</a></li>
								<li><a href="#">My Profile</a></li>
							</ul>
				        </div><!--/.nav-collapse -->
				    </div><!--/.container-fluid -->
				</nav><!-- end nav -->
			</div><!-- end container -->
		</header><!-- end header -->

		<section class="section transheader homepage parallax" data-stellar-background-ratio="0.5" style="background-image:url('upload/bg_04.jpg');">
			<div class="container">
				<div class="row">	
					<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
						<h2>Let's Analysis Your Website SEO</h2>
						<p class="lead">Now you can customize your SEO service according to your need</p>
						<form class="calculateform">
						    <div class="item-box">
						        <div class="item-top form-inline">
						            <div class="form-group">
						                <div class="input-group2">
						                    <span class="input-addon">
												<i class="fa fa-link"></i>
											</span>
						                    <input type="url" class="form-control" id="urladres" name="url" placeholder="Add your website url">
						                </div>
						            </div>
						            <input type="submit" name="send" value="Analysis" class="btn btn-default" />
						        </div>
						    </div>
						</form>
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		
		
		<section class="section bt" style="padding: 5rem 0">
			<div class="container">
				<div class="section-title text-center">
					<small>Choose your interests</small>
					<h3>Categories</h3>
				</div><!-- end section-title -->

				<div class="owl-carousel owl-theme lightcasestudies withhover">
					<div class="item-carousel">
						<div class="case-box">
							<img src="upload/case_01.png" alt="" class="img-responsive">
							<div class="magnifier">
								<a href="case-studies-single.html"><i class="fa fa-link"></i></a> 
							</div>
						</div><!-- end case-box -->
					</div><!-- end col -->

					<div class="item-carousel">
						<div class="case-box">
							<img src="upload/case_07.jpg" alt="" class="img-responsive">
							<div class="magnifier">
								<a href="case-studies-single.html"><i class="fa fa-link"></i></a> 
							</div>
						</div><!-- end case-box -->
					</div><!-- end col -->

					<div class="item-carousel">
						<div class="case-box">
							<img src="upload/case_03.png" alt="" class="img-responsive">
							<div class="magnifier">
								<a href="case-studies-single.html"><i class="fa fa-link"></i></a> 
							</div>
						</div><!-- end case-box -->
					</div><!-- end col -->

					<div class="item-carousel">
						<div class="case-box">
							<img src="upload/case_02.png" alt="" class="img-responsive">
							<div class="magnifier">
								<a href="case-studies-single.html"><i class="fa fa-link"></i></a> 
							</div>
						</div><!-- end case-box -->
					</div><!-- end col -->

					<div class="item-carousel">
						<div class="case-box">
							<img src="upload/case_05.jpg" alt="" class="img-responsive">
							<div class="magnifier">
								<a href="case-studies-single.html"><i class="fa fa-link"></i></a> 
							</div>
						</div><!-- end case-box -->
					</div><!-- end col -->

					<div class="item-carousel">
						<div class="case-box">
							<img src="upload/case_06.jpg" alt="" class="img-responsive">
							<div class="magnifier">
								<a href="case-studies-single.html"><i class="fa fa-link"></i></a> 
							</div>
						</div><!-- end case-box -->
					</div><!-- end col -->
				</div>
		    </div>
		</section>

		<section class="section overfree" style="padding: 5rem 0" >
			<div class="container">
					<div ng-controller='DemoController'>
							<!-- <div id="sidebar">FIXED HERE</divs> -->
						
							<div infinite-scroll='ghRepo.nextPage()' infinite-scroll-disabled='ghRepo.busy' infinite-scroll-distance='1'> 
								<div ng-repeat='repo in ghRepo.repos'>
									<div style="min-height:200px; border:1px solid #0b509e; margin: 2%; border-radius: 25px;overflow: auto" id={{repo.id}}>
										<div style="padding-top: 1%; padding-left: 1%; text-align: center">
											<b>
											<!-- <<< Title: repo.title >>> -->
												2 BHK Available for Sale
											</b>
										</div>
										<div style="padding-left: 1%">
										<!-- <<<	Name: repo.user_name>>> -->
											Posted By: Prayag Godha
										</div>
										<div style = "padding-left: 1%;">
												<!-- <<<	Location: repo.location>>> -->
											Location: Bangalore
										</div>
										<div style = "padding-left: 1%">
											<!-- <<<	Category: repo.Category>>> -->
											Category: Housing
										</div>
										<div style = "padding-left: 1%;">
												<!-- <<<	Type: repo.type>>> {BUY/SELL/SUGGESTION/GENERAL} -->
												Type: SELL
										</div>
										<div style = "padding-left: 1%;padding-top: 1%">
												<!-- <<<	Content: repo.description>>> -->
												2 BHK Available for Sale. Fully Furnished. Rent: xxxxx
										</div>
										<div>
											<div style = "padding-left: 1%;">Images:</div>
											<div id="gallery1"></div>
										</div>
										<script>

											var images = [
												'https://unsplash.it/1300/800?image=875',
												'https://unsplash.it/1300/800?image=874',
												'https://unsplash.it/1300/800?image=872',
												'https://unsplash.it/1300/800?image=868',
												'https://unsplash.it/1300/800?image=839',
												'https://unsplash.it/1300/800?image=838'
											];
										
											$(function() {
										
												$('#gallery1').imagesGrid({
													images: images
												});
												
										
											});
										
										</script>
										<div style="text-align: center;">
											<a ng-href='{{repo.html_url}}' target='_blank'>{{repo.name}}</a>
										</div>
										<div style="float: right;margin-right: 2%;margin-bottom: 1%" class="btn btn-primary" >
											<!-- Email <<< user_name >>>> -->
											<a ng-href="mailto:{{repo.name}}" target="_blank" style="color: white">
												Email Prayag
											</a>
										</div>
									</div>
								
								<div style='clear: both;'></div>
								</div>
								<div ng-show='ghRepo.busy'>Loading data...</div>
							</div>
						</div>

			</div>
			
		</section><!-- end section -->
		
		
		<footer class="footer primary-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Subscribe</h4>
                    		<div class="newsletter-widget">
                    			<p>You can opt out of our newsletters at any time. See our privacy policy.</p>
		                        <form class="form-inline" role="search">
		                            <div class="form-1">
		                              	<input type="text" class="form-control" placeholder="Enter email here..">
										<button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i></button>
		                            </div>
								</form>
                    		</div><!-- end newsletter -->
                    	</div><!-- end widget -->
                    </div><!-- end col -->
                    <div class="col-md-2 col-sm-2">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Company</h4>
                    		<ul>
                    			<li><a href="#">About us</a></li>
                    			<li><a href="#">Carrier</a></li>
                    			<li><a href="#">Trademark</a></li>
                    			<li><a href="#">Contact</a></li>
                    		</ul>
                    	</div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Services</h4>
                    		<ul>
                    			<li><a href="#">Design & Dev</a></li>
                    			<li><a href="#">ASP.NET</a></li>
                    			<li><a href="#">PHP Development</a></li>
                    			<li><a href="#">Mobile App</a></li>
                    			<li><a href="#">Oracle</a></li>
                    		</ul>
                    	</div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Download</h4>
                    		<ul>
                    			<li><a href="#">MAC/OSX</a></li>
                    			<li><a href="#">Android</a></li>
                    			<li><a href="#">Windows</a></li>
                    			<li><a href="#">Google Play</a></li>
                    			<li><a href="#">Amazon</a></li>
                    		</ul>
                    	</div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Be Social</h4>
                    		<ul>
                    			<li><a href="#">Facebook</a></li>
                    			<li><a href="#">Twitter</a></li>
                    			<li><a href="#">Google+</a></li>
                    			<li><a href="#">Linkedin</a></li>
                    		</ul>
                    	</div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
           	</div><!-- end container -->
		</footer><!-- end primary-footer -->

		<footer class="footer secondary-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>2010 - 2018 &copy;The <a href="#">SeoTime</a> SEO Solutions INC. All rights reserved.</p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="list-inline">
                            <li>Designed: <a href="https://html.design">HTML Design</a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
		</footer><!-- end second footer -->
	</div><!-- end wrapper -->

	<!-- jQuery Files -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/parallax.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/custom.js"></script>
	
    
</body>
<script data-require="jquery@2.0.3" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.js"></script>
<!-- `   <script data-require="angular.js@1.2.0-rc3" data-semver="1.2.0-rc3" src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script> -->
<script src="https://rawgithub.com/BinaryMuse/ngInfiniteScroll/1.0.0/build/ng-infinite-scroll.min.js"></script>
<script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.js" integrity="sha256-kWre8PbK2uttyn/pCwCmMblEFNMgLoFb+3Aqp0LQr7s=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
  
<script src="js/script.js"></script>
<script src="js/images-grid.js"></script>

</html>